/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* COMMON */

.container {
    width: 1024px;
    margin: auto;
}

/* Clearfix e float */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}


/* two columns */
.two-col {
    width: 50% ;
}

.main-text {
    font-size: 13px;
    line-height: 25px;
}


/* HEADER */
.nav-menu {
    height: 70px;
    line-height: 70px; /*test*/
}

.top.nav-menu {
    background-color: #f5f8fa;
    border-bottom: 1px solid darkslategray;
}

.nav-menu ul {
    list-style-type: none;
}

.nav-menu ul li {
    display: inline-block;
}

.nav-menu li a {
    text-decoration: none;
}

.nav-menu .right-text ul {
    text-align: right;
}



/* jumbotron */
.jumbotron {
    height: 700px;
    background-image: url(../img/jumbotron.png);        
    background-color: #fef6ee;
}

/* Title */
.title {
    width: 50%;
    padding-top: 80px;
}

.title h1 {
    font-size: 45px;
    padding: 10px 0;
}


